.menu10 {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.menu10 button {
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #dcdcdc;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.menu10 button:hover {
  background-color: #e8e8e8;
}

.store-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (min-width: 600px) {
  .store-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .store-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.store-item {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.store-item img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.store-item .text {
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.store-item .price {
  padding: 0 10px;
  font-weight: bold;
  color: #555;
}

.store-item .btn {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
/* The Visited link code fix */
.store-item .btn,
.store-item .btn:visited,
.store-item .btn:active,
.store-item .btn:focus {
  color: white;
}
/* End */
.btn-free {
  background-color: #00c853;
  color: white;
}

.btn-buy {
  background-color: #d50000;
  color: white;
}
  
.pagination {
  margin-top: 30px;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  border: none;
  background-color: #dcdcdc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #c0c0c0;
}
