    .season-tabs {

      display: flex;

      justify-content: center;

      background: transparent;

      padding: 10px 0;

    }

    .season-tab {

      margin: 0 10px;

      padding: 10px 12px;

      cursor: pointer;
      
      color: #fff;

      background: #ccc;

      border-radius: 20px;

      transition: 0.3s;

    }

    .season-tab.active {

      background: #FF0000;

      color: #fff;

      font-weight: bold;

    }

    .episodes {

      display: flex;

      flex-wrap: wrap;

      justify-content: center;

      gap: 20px;

      padding: 30px 10px;

    }

    .episode-card {

      background: #eee;

      width: 280px;

      padding: 15px;

      border-radius: 10px;

      box-shadow: 0 0 10px rgba(255, 204, 0, 0.3);

      display: none;

    }

    .episode-card.show {

      display: block;

    }

    .episode-card h3 {

      margin: 10px 0 5px;

      text-align: center;

      color: #fff;

    }

    .episode-card p {

      font-size: 14px;

      color: #ccc;

    }

  

  .video-wrapper {

  position: relative;

  padding-bottom: 177.77%; /* Aspect ratio for 9:16 (Shorts/TikTok style) */

  height: 0;

  overflow: hidden;

  border-radius: 10px;

  box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);

}

.video-wrapper iframe {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  border: none;

  pointer-events: auto;

}
